{% include partials/header.html %}

  <!--<h1 class="display-5 mb-4 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}
    {% endif %}
  </h1>-->

  {{ content }}


  <div>

    {% for main_category in site.conference.talks.main_categories %}
      {% if main_category.name == 'Keynote' %}
        <h3 class="mt-5 mb-3">
          <span class="badge border-soft-{{ main_category.color }} bg-soft-{{ main_category.color }} d-block d-sm-inline text-wrap">
            {{ main_category.name }}
          </span>
        </h3>
        {% break %}
        {% endif %}
    {% endfor %}

    {% for talk in site.talks -%}
        {%- for cat in talk.categories -%}
          {%- if cat == 'Keynote' -%}
          <div>
              <h5 class="font-weight-light">
                {% include partials/list_speakers.html %}
              </h5>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% for main_category in site.conference.talks.main_categories %}
      {% if main_category.name == 'Featured' %}
        <h3 class="mt-5 mb-3">
          <span class="badge border-soft-{{ main_category.color }} bg-soft-{{ main_category.color }} d-block d-sm-inline text-wrap">
            {{ main_category.name }}
          </span>
        </h3>
        {% break %}
        {% endif %}
    {% endfor %}

    {% for talk in site.talks -%}
        {%- for cat in talk.categories -%}
          {%- if cat == 'Featured' -%}
          <div>
              <h5 class="font-weight-light">
                {% include partials/list_speakers.html %}
              </h5>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

  

  </div>

{% include partials/footer.html %}
